.container{
    background-color: rgb(219, 159, 159);
    min-height: 1500px;
    
    
}
.jumbotron{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    background-color: lightgray;
}
.navbar-custom{
    background-color: black;
    
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
.nav-link {
    color: white;
}
#maincontent{
    /* background-color: green; */
    min-height: 300px;
}
.subcontentswhite{
    background-color: white;
    min-height: 200px;
    border-radius: 1em;
    margin-left: 1em;
}
.subcontentsblack{
    background-color: black;
    min-height: 200px;
    border-radius: 1em;
    margin-right: 1em;
    
}